.vs/NorthWindWebApis/config/applicationhost.config
.vs/NorthWindWebApis/DesignTimeBuild/.dtbcache
.vs/NorthWindWebApis/v16/.suo
.vs/NorthWindWebApis/v16/Server/sqlite3/db.lock
.vs/NorthWindWebApis/v16/Server/sqlite3/storage.ide
.vs/NorthWindWebApis/v16/Server/sqlite3/storage.ide-shm
.vs/NorthWindWebApis/v16/Server/sqlite3/storage.ide-wal
.vs/NorthWindWebApis/v16/TestStore/0/000-0000.testlog
.vs/NorthWindWebApis/v16/TestStore/0/testlog.manifest
node_modules/nunit/nunit.js
node_modules/nunit/nunit-browser.js
node_modules/nunit/package.json
node_modules/nunit/README.md
node_modules/nunit/test/test.js
NorthWindWebApis.Service/bin/Debug/EntityFramework.dll
NorthWindWebApis.Service/bin/Debug/EntityFramework.SqlServer.dll
NorthWindWebApis.Service/bin/Debug/EntityFramework.SqlServer.xml
NorthWindWebApis.Service/bin/Debug/EntityFramework.xml
NorthWindWebApis.Service/bin/Debug/NorthWindWebApis.DataLayer.dll
NorthWindWebApis.Service/bin/Debug/NorthWindWebApis.DataLayer.dll.config
NorthWindWebApis.Service/bin/Debug/NorthWindWebApis.DataLayer.pdb
NorthWindWebApis.Service/bin/Debug/NorthWindWebApis.Service.dll
NorthWindWebApis.Service/bin/Debug/NorthWindWebApis.Service.dll.config
NorthWindWebApis.Service/bin/Debug/NorthWindWebApis.Service.pdb
NorthWindWebApis.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NorthWindWebApis.Service/obj/Debug/NorthWindWebApis.Service.csproj.CopyComplete
NorthWindWebApis.Service/obj/Debug/NorthWindWebApis.Service.csproj.FileListAbsolute.txt
NorthWindWebApis.Service/obj/Debug/NorthWindWebApis.Service.csprojAssemblyReference.cache
NorthWindWebApis.Service/obj/Debug/NorthWindWebApis.Service.dll
NorthWindWebApis.Service/obj/Debug/NorthWindWebApis.Service.pdb
NorthWindWebApis.Serviceold/obj/NorthWindWebApis.Service.csproj.nuget.cache
NorthWindWebApis.Serviceold/obj/NorthWindWebApis.Service.csproj.nuget.dgspec.json
NorthWindWebApis.Serviceold/obj/NorthWindWebApis.Service.csproj.nuget.g.props
NorthWindWebApis.Serviceold/obj/NorthWindWebApis.Service.csproj.nuget.g.targets
NorthWindWebApis.Serviceold/obj/Debug/netstandard2.0/NorthWindWebApis.Service.AssemblyInfo.cs
NorthWindWebApis.Serviceold/obj/Debug/netstandard2.0/NorthWindWebApis.Service.AssemblyInfoInputs.cache
NorthWindWebApis.Serviceold/obj/Debug/netstandard2.0/NorthWindWebApis.Service.assets.cache
NorthWindWebApis.Serviceold/obj/Debug/netstandard2.0/NorthWindWebApis.Service.csprojAssemblyReference.cache
NorthWindWebApis.Tests/bin/Debug/Antlr3.Runtime.dll
NorthWindWebApis.Tests/bin/Debug/Antlr3.Runtime.pdb
NorthWindWebApis.Tests/bin/Debug/EntityFramework.dll
NorthWindWebApis.Tests/bin/Debug/EntityFramework.SqlServer.dll
NorthWindWebApis.Tests/bin/Debug/EntityFramework.SqlServer.xml
NorthWindWebApis.Tests/bin/Debug/EntityFramework.xml
NorthWindWebApis.Tests/bin/Debug/FluentAssertions.dll
NorthWindWebApis.Tests/bin/Debug/FluentAssertions.pdb
NorthWindWebApis.Tests/bin/Debug/FluentAssertions.xml
NorthWindWebApis.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
NorthWindWebApis.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
NorthWindWebApis.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
NorthWindWebApis.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
NorthWindWebApis.Tests/bin/Debug/Newtonsoft.Json.dll
NorthWindWebApis.Tests/bin/Debug/Newtonsoft.Json.xml
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.DataLayer.dll
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.DataLayer.dll.config
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.DataLayer.pdb
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.dll
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.dll.config
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.pdb
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.Service.dll
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.Service.dll.config
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.Service.pdb
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.Tests.dll
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.Tests.dll.config
NorthWindWebApis.Tests/bin/Debug/NorthWindWebApis.Tests.pdb
NorthWindWebApis.Tests/bin/Debug/nunit.engine.api.dll
NorthWindWebApis.Tests/bin/Debug/nunit.engine.dll
NorthWindWebApis.Tests/bin/Debug/nunit.framework.dll
NorthWindWebApis.Tests/bin/Debug/nunit.framework.pdb
NorthWindWebApis.Tests/bin/Debug/nunit.framework.xml
NorthWindWebApis.Tests/bin/Debug/nunit_random_seed.tmp
NorthWindWebApis.Tests/bin/Debug/NUnit3.TestAdapter.dll
NorthWindWebApis.Tests/bin/Debug/NUnit3.TestAdapter.pdb
NorthWindWebApis.Tests/bin/Debug/System.Net.Http.Formatting.dll
NorthWindWebApis.Tests/bin/Debug/System.Net.Http.Formatting.xml
NorthWindWebApis.Tests/bin/Debug/System.Web.Helpers.dll
NorthWindWebApis.Tests/bin/Debug/System.Web.Helpers.xml
NorthWindWebApis.Tests/bin/Debug/System.Web.Http.dll
NorthWindWebApis.Tests/bin/Debug/System.Web.Http.WebHost.dll
NorthWindWebApis.Tests/bin/Debug/System.Web.Http.WebHost.xml
NorthWindWebApis.Tests/bin/Debug/System.Web.Http.xml
NorthWindWebApis.Tests/bin/Debug/System.Web.Mvc.dll
NorthWindWebApis.Tests/bin/Debug/System.Web.Mvc.xml
NorthWindWebApis.Tests/bin/Debug/System.Web.Optimization.dll
NorthWindWebApis.Tests/bin/Debug/System.Web.Optimization.xml
NorthWindWebApis.Tests/bin/Debug/System.Web.Razor.dll
NorthWindWebApis.Tests/bin/Debug/System.Web.Razor.xml
NorthWindWebApis.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
NorthWindWebApis.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
NorthWindWebApis.Tests/bin/Debug/System.Web.WebPages.dll
NorthWindWebApis.Tests/bin/Debug/System.Web.WebPages.Razor.dll
NorthWindWebApis.Tests/bin/Debug/System.Web.WebPages.Razor.xml
NorthWindWebApis.Tests/bin/Debug/System.Web.WebPages.xml
NorthWindWebApis.Tests/bin/Debug/WebGrease.dll
NorthWindWebApis.Tests/Controllers/HomeControllerTest.cs
NorthWindWebApis.Tests/Controllers/ValuesControllerTest.cs
NorthWindWebApis.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NorthWindWebApis.Tests/obj/Debug/NorthWindWebApis.Tests.csproj.CopyComplete
NorthWindWebApis.Tests/obj/Debug/NorthWindWebApis.Tests.csproj.FileListAbsolute.txt
NorthWindWebApis.Tests/obj/Debug/NorthWindWebApis.Tests.csprojAssemblyReference.cache
NorthWindWebApis.Tests/obj/Debug/NorthWindWebApis.Tests.dll
NorthWindWebApis.Tests/obj/Debug/NorthWindWebApis.Tests.pdb
NorthWindWebApis/bin/Antlr3.Runtime.dll
NorthWindWebApis/bin/Antlr3.Runtime.pdb
NorthWindWebApis/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
NorthWindWebApis/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
NorthWindWebApis/bin/
packages/
NorthWindWebApis.Service/bin/
NorthWindWebApis.Service/obj/Debug/NorthWindWebApis.Services.csproj.CopyComplete
NorthWindWebApis.Tests/bin/Debug/AutoMapper.dll
NorthWindWebApis.Tests/bin/
NorthWindWebApis/obj/
NorthWindWebApis.Service/obj/Debug/NorthWindWebApis.Services.csproj.FileListAbsolute.txt
NorthWindWebApis.Service/obj/Debug/
.vs/NorthWindWebApis/v16/TestStore/1/000-0000.testlog
.vs/NorthWindWebApis/v16/TestStore/1/testlog.manifest
NorthWindWebApis.DataLayer/obj/Debug/NorthWindWebApis.DataLayer.csprojAssemblyReference.cache
NorthWindWebApis.DataLayer/bin/Debug/
NorthWindWebApis.DataLayer/obj/Debug/
